* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 1em;
    width: 100%;
    text-align: center;
}

.flex {
    min-height: 60vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    margin: 1em 0;
    min-width: 200px;
    padding: 0.5em;
    border-radius: 8px;
    width: 100%;
    font-size: 1.5em;
}

.box.confirmed {
    border: 1px solid #230f01;
    background: #f36408;
}

.box.recovered {
    border: 1px solid #143906;
    background: rgba(38, 189, 26, 0.95);
}

.box.deaths {
    border: 1px solid #650000;
    background: #ef0000;
}

.dropDown {
    margin: 1em 0;
    padding: 0.5em;
    font-size: 1em;
}

@media screen and (min-width: 950px) {
    .flex {
        flex-wrap: nowrap;
    }

    .box{
        margin: 1em;
        font-size: 2em;
        line-height: 1.5;
        max-width: 300px;
    }
}